---
layout: default
title: Images
---
<h1>Image Gallery</h1>
<div class="album py-4 bg-light">
<h2>Synagogues</h2>
<!-- <ul>
    {% for building in site.data.building_images %}
        <li><a href="{{ building.building_name | datapage_url: 'building-images' }}">{{building.building_name}} ({{building.year_opened}})</a></li>
    {% endfor %}
</ul> -->

<div class="container">
    <div class="row">

        {% for building in site.data.building_images %}
    <div class="col-md-3 py-2">
        <div class="card shadow-sm" style="background: transparent url({{ building.cover_image | prepend: site.url }}) center center no-repeat;background-size:400px;height:200px;" >
            <a href="{{ building.idbuildings | datapage_url: 'building-images' }}" style="color:#fff;text-decoration: none;text-shadow: 0px 3px 3px #000;">
            {% if building.region == "Western Europe" %}
            <div class="card-img-overlay"  style="background-image: linear-gradient(rgba(85, 137, 189,0.3), rgba(85, 137, 189,0.6));background-size:cover;text-align: center;">
            {% endif %}
            {% if building.region == "Caribbean" %}
            <div class="card-img-overlay"  style="background-image: linear-gradient(rgba(124, 224, 208,0.3), rgba(124, 224, 208,0.6));background-size:cover;text-align: center;">
            {% endif %}
            {% if building.region == "North America" %}
            <div class="card-img-overlay"  style="background-image: linear-gradient(rgba(237, 95, 161,0.3), rgba(237, 95, 161,0.6));background-size:cover;text-align: center;">
            {% endif %}
            {% if building.region == "South America" %}
            <div class="card-img-overlay"  style="background-image: linear-gradient(rgba(194, 92, 200,0.3), rgba(194, 92, 200,0.6));background-size:cover;text-align: center;">
            {% endif %}



              <h5 class="card-title">{{building.building_name}}</h5>
              <p>{% if building.city != null %}{{building.city}}{%endif%}{% if building.state != null %}, {{building.state}}{%endif%}{% if building.country != null %}, {{building.country}}{%endif%}</p>
            </div>
        </a>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>

<h2>Locations</h2>
<!-- {% include image-gallery.html folder="/assets/images/locations" %} -->
<div class="container">
  <div class="row">

      {% for location in site.data.location_images %}
  <div class="col-md-3 py-2">
      <div class="card shadow-sm" style="background: transparent url({{ location.image_file | prepend: site.url }}) center center no-repeat;background-size:400px;height:200px;" >
          <a href="{{ location.location_name | datapage_url: 'locations' }}" style="color:#fff;text-decoration: none;text-shadow: 0px 3px 3px #000;">
          {% if location.region == "Western Europe" %}
          <div class="card-img-overlay"  style="background-image: linear-gradient(rgba(112, 128, 144,0.6), rgba(112, 128, 144,0.8));background-size:cover;text-align: center;">
          {% endif %}
          {% if location.region == "Caribbean" %}
          <div class="card-img-overlay"  style="background-image: linear-gradient(rgba(172, 242, 235,0.6), rgba(172, 242, 235,0.8));background-size:cover;text-align: center;">
          {% endif %}

            <h5 class="card-title" style="padding-top: 25%;">{{location.location_name}}</h5>
          </div>
      </a>
        </div>
    </div>
    {% endfor %}
  </div>
</div>

</div>