---
layout: data-vis
title: Image Test
---
<style>
    #main {margin:0;padding:0;}
    .svg-container {
        display: inline-block;
        position: relative;
        width: 100%;
        vertical-align: top;
        overflow: visible;
    }
    .svg-content {
        display: inline-block;
         position: absolute; 
        top: 0;
        left: 0;
        z-index: -1;
    }
    #image-galley-content {
        margin-top: 26px;
        /* position: absolute; */
        /* top: 56px; */
        /* left: 3%; */
    } 

.cover {
    object-fit: cover;
    /* width:150px;
    height: 150px; */
    /* display: flex;  */
    align-items: stretch; 
    height: 100px;
}
.cover:hover{filter: brightness(70%); }
.card {border:none;background: none;}
a {color:#212529; text-decoration: none;}
a:hover {color:#212529; text-decoration: underline;}
</style>
<div id="container" class="svg-container">
<div id="image-galley-content">
    <div class='container'>
        <h1>Images</h1>
        <h2>Synagogues</h2>
    </div>
    <div class="d-flex flex-row flex-wrap justify-content-start container">            
        {% for building in site.data.building_images %}
            <div class="card mb-2 " style="max-width: 300px;">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex">
                        <a href="{{ building.idbuildings | datapage_url: 'building-images' }}">
                        <img src="{{ building.cover_image | prepend: site.url }}" alt="{{ filename }}" title="{{ filename }}" class="cover card-img-top img-thumbnail"/>
                    </a>
                    </div>
                    <div class="col-md-8">
                        <a href="{{ building.idbuildings | datapage_url: 'building-images' }}">
                        <div class="card-body p-2">
                            <h6 class="card-title">{{building.building_name}}</h6>
                            <p><small>{% if building.city != null %}{{building.city}}{%endif%}{% if building.state != null %}, {{building.state}}{%endif%}{% if building.country != null %}, {{building.country}}{%endif%}</small></p>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class='container'>
        <h2>Locations</h2>
    </div>
    <div class="d-flex flex-row flex-wrap justify-content-start container">            
        {% for location in site.data.location_images %}
            <div class="card mb-2 " style="max-width: 300px;">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex">
                        <a href="{{ location.location_name | datapage_url: 'locations' }}">
                        <img src="{{ location.image_file | prepend: site.url }}" alt="{{ filename }}" title="{{ filename }}" class="cover card-img-top img-thumbnail"/>
                    </a>
                    </div>
                    <div class="col-md-8">
                        <a href="{{ location.location_name | datapage_url: 'locations' }}">
                        <div class="card-body p-2">
                            <h6 class="card-title">{{location.location_name}}</h6>
                            <!-- <p><small>{% if building.city != null %}{{building.city}}{%endif%}{% if building.state != null %}, {{building.state}}{%endif%}{% if building.country != null %}, {{building.country}}{%endif%}</small></p> -->
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>

<script>
const height = document.body.scrollHeight;
const width = document.body.scrollWidth;
const teal = "#63cdda";
const ltblue ="#7E9ED6";
const peri = "#778beb";
const dkgreen ="#076173";

const data = [[0,0],[width*0.5,height+30]]
    
   var i;
    for (i = 0; i < 7; i++) {
     const x = Math.floor(Math.random() * Math.floor(width*0.7));
    const y = Math.floor(Math.random() * Math.floor(height));
        data.push([x,y])
    }
    
    console.log(data)
    data.sort(function(a,b){ return a[1] - b[1];});
    
var svg = d3.select("div#container")
    .append("svg")
    .attr("preserveAspectRatio", "xMinYMax meet")
    .attr("viewBox", `0 0 ${document.body.scrollWidth} ${document.body.scrollHeight}`)
    .attr('overflow','visible')
    .attr('opacity', 0.6)
    .attr('class', 'svg-content shapes');
    
var defs = svg.append("defs");

//Filter for the outside glow
var filter = defs.append("filter")
    .attr("id","glow");
filter.append("feGaussianBlur")
    .attr("stdDeviation","1.5")
    .attr("result","coloredBlur");
var feMerge = filter.append("feMerge");
feMerge.append("feMergeNode")
    .attr("in","coloredBlur");
feMerge.append("feMergeNode")
    .attr("in","SourceGraphic");
    
var gradient = defs.append("linearGradient")
   .attr("id", "svgGradient")
   .attr("x1", "100%")
   .attr("x2", "100%")
   .attr("y1", "0%")
   .attr("y2", "100%");

gradient.append("stop")
   .attr('class', 'start')
   .attr("offset", "0%")
   .attr("stop-color", ltblue)
   .attr("stop-opacity", 1);
gradient.append("stop")
   .attr('class', 'start')
   .attr("offset", "20%")
   .attr("stop-color", teal)
   .attr("stop-opacity", 1);
gradient.append("stop")
   .attr('class', 'end')
   .attr("offset", "50%")
   .attr("stop-color", dkgreen)
   .attr("stop-opacity", 1);
// gradient.append("stop")
//    .attr('class', 'start')
//    .attr("offset", "70%")
//    .attr("stop-color", teal)
//    .attr("stop-opacity", 1);
gradient.append("stop")
   .attr('class', 'start')
   .attr("offset", "75%")
   .attr("stop-color", peri)
   .attr("stop-opacity", 1);
gradient.append("stop")
   .attr('class', 'start')
   .attr("offset", "100%")
   .attr("stop-color", "#fff")
   .attr("stop-opacity", 1);
        
const line = d3.line().curve(d3.curveBasis)
const flow = svg.selectAll('g .line').append('g')
    .data(data).enter()
    .append('path')
    .attr('class', 'line')
    .attr('d', line(data))
    .attr('fill', 'none')
    .attr('stroke', "url(#svgGradient)")
    .attr('stroke-width', 70)
   .style("filter", "url(#glow)")
   ;
 
</script>