---
layout: default
title: Site Index
---
<h2><a href="#syn-tag">Synagogues</a> - <a href="#bldg-tag">Other Buildings</a> - <a href="#cong-tag">Congregations</a> - <a href="#location-tag">Locations</a></h2>
<!-- <div class="container-lg">
    <div class="row">
        <div class="col-sm-7"> -->
            <h3 id="syn-tag" class="pt-5">Synagogues</h3>
                <ul>
                    {% for building in site.data.buildings %}
                    {% if building.use_type == "synagogue" %}
                    <li><a href="{{ building.idbuildings | datapage_url: 'buildings' }}">
                        {{building.building_name}} ({{building.year_opened}}), 
                        {% if building.city != null %}{{building.city}}{%endif%}{% if building.state != null %}, {{building.state}}{%endif%}{% if building.country != null %}, {{building.country}}{%endif%}
                    </a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            <h3 id="bldg-tag" class="pt-5">Other Buildings</h3>
                <ul>
                    {% for building in site.data.buildings %}
                    {% if building.use_type != "synagogue" %}
                    <li><a href="{{ building.idbuildings | datapage_url: 'buildings' }}">
                        {{building.building_name}} ({{building.year_opened}}), 
                        {% if building.city != null %}{{building.city}}{%endif%}{% if building.state != null %}, {{building.state}}{%endif%}{% if building.country != null %}, {{building.country}}{%endif%}
                    </a></li>
                    {% endif %}
                    {% endfor %}
                </ul>

            <h3 id="cong-tag" class="pt-5">Congregations</h3>
                <ul>
                    {% for congregation in site.data.congregations %}
                    <li><a href="{{ congregation.idcongregation | datapage_url: 'congregation' }}">
                        {{congregation.congregation_name}} {% if congregation.translation != null %}({{congregation.translation}}){%endif%} ({{congregation.year_est}}), 
                        {% if congregation.city != null %}{{congregation.city}}{%endif%}{% if congregation.state != null %}, {{congregation.state}}{%endif%}{% if congregation.country != null %}, {{congregation.country}}{%endif%}
                    </a></li>
                    {% endfor %}
                </ul>
        <!-- </div>
        <div class="col-sm-5"> -->
            <h3 id="location-tag" class="pt-5">Locations</h3>
                <ul>
                    {% for location in site.data.locations %}
                    <li><a href="{{ location.idlocation | datapage_url: 'locations' }}">{{location.location_name}}</a></li>
                    {% endfor %}
                </ul>
        <!-- </div>

    </div>
</div> -->


