<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="{{ site.url }}">{{site.title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
         {% assign links = site.data.navbar %}
          {% for link in links %}
          {% if page.url contains link.url %}
                {% assign class = 'active' %}
          {% endif %}
          {% if link.sublinks %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ link.name  }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for sublink in link.sublinks %}
              <a class="dropdown-item" href="{{sublink.url | prepend: site.url}}">{{ sublink.name }}</a>
              {% endfor %}
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{link.url | prepend: site.url}}">{{ link.name }}</a>
          </li>
          {% endif %}
          {% endfor %}
         

          <!-- {% for item in site.data.navbar %}
          <a class="nav-item nav-link" href="{{item.url | prepend: site.url}}">{{ item.name }}</a>
          {% endfor %}  
          {% for item in site.data.navbar.sublinks %}
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{item.name}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{item.sublink.url | prepend: site.url}}">{{ item.sublink.name}}</a>
            </div>
          </div>
          {% endfor %} -->
        </ul>
  </div>
</nav>