---
layout: leaflet-map
---
<style>
    .map {height: 200px;}
</style>
<div class="row">
    <div class="col-sm-9">
        <h1>{{page.title}}</h1>
        <p>Building ID: {{page.idbuildings}}</p>
        <p>Year Built: {{page.year_built}}</p>
        <p>Year Opened: {{page.year_opened}}</p>
        <p>Year Non-extant: {{page.year_nonextant}}</p>
        <p>Location: {% if page.city != null %}{{page.city}}{%endif%}{% if page.state != null %}, {{page.state}}{%endif%}{% if page.country != null %}, {{page.country}}{%endif%}</p>
        <p>Latitude: {{page.lat}}</p>
        <p>Longitude: {{page.lon}}</p>

        <h3>Related Buildings:</h3>
        <ul>
            {% assign bldgs_sort = site.data.buildings | sort:"year_opened" %}
            {% for building in bldgs_sort %}
            {% if building.idbuildings != page.idbuildings %}
            {% if building.lat == page.lat %}
            {% assign bldgname = building.idbuildings | prepend: "/buildings/" %}
            <li><a href="{{ bldgname | prepend: site.url }}">{{building.building_name}} ({{building.year_opened}})</a></li>
            {% endif %}{% endif %}{% endfor %}
        </ul>
    
    </div>
    <div class="col-sm-3">
        <div class="card">
            {% if page.image_file != null %}
            <a href="{{ page.image_file | prepend: site.url }}" title="{{ page.image_file }}">
                <img src="{{ page.image_file | prepend: site.url }}" alt="{{ page.image_file }}" title="{{ page.image_file }}" class="card-img-top image-fluid"/>
            </a> 
            {%endif%}
            <!-- <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div> -->
            <ul class="list-group list-group-flush">
                {% for image in site.data.building_images %}
                {% if image.idbuildings == page.idbuildings %}
                {% assign pagepath = page.idbuildings | prepend: "/building-images/" %}
                <a href="{{ pagepath | prepend: site.url }}"><li type="button" class="btn btn-light list-group-item px-1">Image Gallery</li></a>
                {% endif %}
                {% endfor %}
                {% for location in site.data.location_images %}
                {% if location.idlocation == page.idlocation %}
                {% assign locpath = location.location_name | prepend: "/locations/" %}
                <a href="{{ locpath | prepend: site.url}}"><li type="button" class="btn btn-light list-group-item px-1">{% if page.city != null %}{{page.city}}{%endif%}{% if page.state != null %}, {{page.state}}{%endif%}{% if page.country != null %}, {{page.country}}{%endif%}</li></a>
                {% endif %}
                {% endfor %}
                <li class="list-group-item px-1 text-center">Location Accuracy: {{ page.loc_def }}</li>
                <li class="list-group-item" style="padding:0;">
                    {% assign bldgnameone = page.building_name | downcase %}
                    {% assign bldgnametwo = bldgnameone | remove: "," | remove: "[" | remove: "]" | remove: "(" | remove: ")" | remove: "'"%}
                    {% assign bldgname = bldgnametwo | replace: " ", "-" %}
                    <div class="map" id="{{ bldgname }}" width="100%"></div>
                </li>
                <a href="{{ "/synagogue-map" | prepend: site.url }}"><li type="button" class="btn btn-light list-group-item px-1">Synagogue Map</li></a>
            </ul>
            </div>                  
    </div>
</div>
<script>
    
    {% assign varid = bldgname | remove: "-"%}
    var {{ varid }}= L.map('{{ bldgname }}').setView([{{ page.lat }}, {{ page.lon }}], 13);
    var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib = '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> contributors';
    L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib}).addTo({{varid}});
    var marker = L.marker([{{ page.lat }}, {{ page.lon }}]).addTo({{ varid }});
    marker.bindPopup("<strong>{{ page.building_name }}</strong>");
</script>



