---
layout: leaflet-map
---
<style>
    .map {height: 300px;}
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent" style="padding-inline-start:0;">
      <li class="breadcrumb-item"><a href="{{ "/site-index#cong-tag" | prepend: site.url}}">Congregations</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{page.congregation_name}} {% if page.translation != null %}({{page.translation}}){%endif%}</li>
    </ol>
</nav>

<h1>{{page.congregation_name}} {% if page.translation != null %}({{page.translation}}){%endif%}</h1>
<h2>{% if page.city != null %}{{page.city}}{%endif%}{% if page.state != null %}, {{page.state}}{%endif%}{% if page.country != null %}, {{page.country}}{%endif%}</h2>

<p>Established: {{page.year_est}}</p>

<h4>Synagogues Buildings & Years Associated:</h4>
<ul>
    {% assign bldgs_sort = site.data.buildings | sort:"data_yr_open" %}
    {% for building in bldgs_sort %}
    {% for congregation in building.congregations %}
    {% if page.idcongregation == congregation.idcongregation %}
    {% assign bldgname = building.idbuildings | prepend: "/buildings/" %}
    <li><a href="{{ bldgname | prepend: site.url }}">{{congregation.yr_start}}-{%if congregation.yr_end != null %}{{congregation.yr_end}}{%else%}current{%endif%}: {{building.building_name}} ({{building.year_opened}})</a></li>
    {% endif %}
    {% endfor %}{% endfor %}
</ul>

<h2>Map</h2>

<div class="map" id="mapid" width="100%"></div>

<script>
    var locArray = [];
    {% for building in site.data.buildings %}
    {% for congregation in building.congregations %}
    {% if page.idcongregation == congregation.idcongregation %}
    var bldLatLon = [];
    bldLatLon.push({{building.lat}});
    bldLatLon.push({{building.lon}});
    locArray.push(bldLatLon);
    console.log(bldLatLon)
    {% endif %}{% endfor %}{% endfor %}
    console.log(locArray)

    var map = L.map('mapid');
    var bounds = new L.LatLngBounds(locArray);
    map.fitBounds(bounds);
    // .setView([51.505, -0.09], 13);
    var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib = '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> contributors';
        L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib}).addTo(map);

        var markers = L.markerClusterGroup({showCoverageOnHover: false, zoomToBoundsOnClick: false, maxClusterRadius:4});
        
    {% for building in site.data.buildings %}
    {% for congregation in building.congregations %}
    {% if page.idcongregation == congregation.idcongregation %}
    {% assign pagepath = building.idbuildings | prepend: "/buildings/"%}
    var bldLatLon = [];
    bldLatLon.push({{building.lat}});
    bldLatLon.push({{building.lon}});
    markers.addLayer(L.marker(bldLatLon).bindPopup("<strong><a href=\"{{ pagepath | prepend:site.url }}\">{{ building.building_name }} ({{building.year_opened}})</a></strong></br>Location Accuracy: {{building.loc_def}}"));
    {% endif %}{% endfor %}{% endfor %}
    map.addLayer(markers);

</script>